h1 About

h2 What is DAQBUT?

p DAQBUT, 'DANK Actuarial, Quoting, Banking, and Universal Trading,' is the world premier online market for memes. DAQBUT can help you plan and build for your memeconomic future with services ranging from rare pupper retirement plans to high yield stock photo caption trading.

h2 What is DANK?

p DANK, 'DAQBUT Automagic Nonsense Krone,' is the official currency of DAQBUT. While inspired heavily by the Norwegian Krone, the world's most prolific currency to start with a 'K,' is not in any way exchangeable with the Krone or any other currency. However, DANK can be used to both buy and sell meme shares as well as any other future meme financial products we may offer.
