.flash {
  background-color: #000000;
  width: 100%;
  margin: 0;
  padding: 1em;
  text-align: center;
  color: #FFFFFF;
}

.alert {
  background-color: #DA4167;
}

.notice {
  background-color: #083D77;
}
