@import url('https://fonts.googleapis.com/css?family=Catamaran:800|Open+Sans|VT323');

#navigation, #footer { font-family: 'Catamaran', sans-serif; }
body                 { font-family: 'Open Sans', sans-serif; }
.ticker              { font-family: 'VT323', monospace; }
