@import url('https://fonts.googleapis.com/css?family=Catamaran:800|Open+Sans|VT323');

header, h1, h2, h3, h4, h5, h6 { font-family: 'Catamaran', sans-serif; }
body                           { font-family: 'Open Sans', sans-serif; }
.ticker                        { font-family: 'VT323', monospace; }
