#header {
  background-color: #083D77;
  height: 7.688em;
  overflow: hidden;
}

#navigation {
  background-color: #000000;
  width: 100%;
  padding: 0 1em;
  box-sizing: border-box;
}

.site-title {
  font-size: 32pt;
  color: #FFFFFF;
}

.account {
  float: right;
  margin: 0.75em 0;
  color: #FFFFFF;
}

.account span {
  margin: 0 1em;
}

.account .button {
  background-color: #FFFFFF;
  color: #000000;
}

.positive {
  color: #00FF00;
}

.negative {
  color: #FF0000;
}
