#main {
  width: 100%;
  max-width: 640px;
  margin: 1em auto;
  padding: 0 1em;
  box-sizing: border-box;
}

main header a {
  display: block;
  float: right;
  padding: 0.5em 1em;
  border: 2px solid #000000;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.meme {
  margin: 1em 0;
}

.meme a, .meme input[type=submit] {
  background-color: #000000;
  display: block;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

.meme input[type=submit] {
  width: 100%;
  padding: 0;
  border: none;
  font-size: 1em;
}

.meme-header, .actions {
  display: flex;
}

.meme-title {
  flex: 1;
}

.meme-price {
  padding: 0 1em;
}

.actions a, .actions form {
  flex: 1;
}

h1 {
  border-bottom: 2px solid #000000;
}

img {
  width: 100%;
}

img.thumb {
  width: 64px;
  height: 64px;
}

small {
  opacity: 0.5;
}

dl {
  display: flex;
}

dt {
  display: block;
}

dd {
  flex: 1;
}

a.buy, input[type=submit].buy {
  background-color: #73877B;
}

a.sell, input[type=submit].sell {
  background-color: #DA4167;
}
