#main {
  width: 100%;
  max-width: 640px;
  margin: 0.75em auto 3.375em;
  padding: 0 1em;
  box-sizing: border-box;
}

#main header .button {
  float: right;
}

h1 {
  margin: 0;
  border-bottom: 2px solid #000000;
}

h2 {
  margin: 0 0 1em;
}

small {
  opacity: 0.5;
}

img {
  width: 100%;
}
