.pagination {
  margin: 1em;
  text-align: center;
  color: #000000;
}

.pagination a {
  color: #000000;
}

.pagination span::after {
  content: '|';
  margin: 0 0.5em;
}

.pagination span:last-child::after {
  display: none;
}
