.pagination {
  margin: 1em;
  text-align: center;
  color: #000000;
}

.pagination a {
  color: #000000;
}

.pagination a::after {
  content: '|';
  margin: 0 0.5em;
}

.pagination a:last-child::after {
  content: '';
}
