.ticker {
  display: inline-block;
  margin: 0;
  padding: 0.5em 0 0.5em 100%;
  list-style: none;
  font-size: 1.5em;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
  color: #FFFFFF;
}

.ticker:hover {
  animation-play-state: paused;
}

.ticker li {
  display: inline;
}

.ticker li::after {
  content: '•';
  margin: 0 0.5em;
}

.ticker li:last-child::after {
  content: '';
}

.ticker a {
  color: #FFFFFF;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
