.ticker {
  display: inline-block;
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
  font-size: 1.5em;
  color: #FFFFFF;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0%   { transform: translate(100vw, 0); }
  100% { transform: translate(-100%, 0); }
}
